/*  CONFIGURACION POR DEFECTO PARA TODO EL DOCUMENTO ----///*/


@font-face {
    font-family: NickAinley;
    src: url("../Fuentes/NICKAINLEY-NORMAL.otf");
}
@font-face {
    font-family: AvantGarde;
    src: url("../Fuentes/avantgarde-4.ttf");
}







.color--black{
    color: black;
}
.bg--black01{
    background-color: rgb(24,24,24);
}
.bg--black02{
    background-color: black;
}
.bg--black03{
    background-color: rgb(11,12,12);
}
.bg--black04{
    background-color: rgb(10, 10, 10);
}
.bg--white01{
    background-color: white;
}
.bg--turqueza{
    background-color: turquoise;
}
.bg__radiant--purpleBlue{
    background: rgb(32,142,198);
    background: linear-gradient(101deg, rgba(32,142,198,1) 2%, rgba(113,46,125,1) 35%, rgba(72,29,108,1) 100%);
}
.bg__radiant--BlackBlue{
    background: rgb(131,131,131);
    background: linear-gradient(101deg, rgba(131,131,131,1) 14%, rgba(0,233,254,1) 33%, rgba(0,0,0,1) 84%);
    
}
.bg__radian--greyBlack{
    background: rgb(84,84,84);
    background: linear-gradient(101deg, rgba(84,84,84,1) 2%, rgba(138,134,139,1) 35%, rgba(0,0,0,1) 100%);
    
}
.bg__ggCultureCollage{
    background-image: url("../imagenes/fondogg.jpeg");
}

/* ANIMACIONES  ----------------------------------------------------///*/



/* ----------------------------------------------------///*/

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

