/*  CONFIGURACION POR DEFECTO PARA TODO EL DOCUMENTO ----///*/


@font-face {
    font-family: NickAinley;
    src: url("../Fuentes/NICKAINLEY-NORMAL.otf");
}
@font-face {
    font-family: AvantGarde;
    src: url("../Fuentes/avantgarde-4.ttf");
}


body{
    background-color: black;
}

.centrar{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.color--white{
    color: white;
}
.color--moradomarca{
   color: #481D6C;
}
.color--black{
    color: black;
}
.bg--black01{
    background-color: rgb(24,24,24);
}
.bg--black02{
    background-color: black;
}
.bg--black03{
    background-color: rgb(11,12,12);
}
.bg--black04{
    background-color: rgb(10, 10, 10);
}
.bg--white01{
    background-color: white;
}
.bg--turqueza{
    background-color: turquoise;
}
.bg__radiant--purpleBlue{
    background: rgb(32,142,198);
    background: linear-gradient(101deg, rgba(32,142,198,1) 2%, rgba(113,46,125,1) 35%, rgba(72,29,108,1) 100%);
}
.bg__radiant--BlackBlue{
    background: rgb(131,131,131);
    background: linear-gradient(101deg, rgba(131,131,131,1) 14%, rgba(0,233,254,1) 33%, rgba(0,0,0,1) 84%);
    
}
.bg__radian--greyBlack{
    background: rgb(84,84,84);
    background: linear-gradient(101deg, rgba(84,84,84,1) 2%, rgba(138,134,139,1) 35%, rgba(0,0,0,1) 100%);
    
}
.bg__ggCultureCollage{
    background-image: url("../imagenes/fondogg.jpeg");
}

/* ANIMACIONES  ----------------------------------------------------///*/



/* ----------------------------------------------------///*/

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


/* INDEX.html ----------------------------------------------------------------------------------------------------------------------///*/

/* HEADER ---------------------------- */


/* ------------------------------------------------------*/

/* Bloques de contenido */


/* FIN -> INDEX.html ---------------------------------------------------------------------------------- ///*/


/* GG CULTURE.html ------------------------------------------------------------------------------- ///*/




/* FIN -> GG CULTURE.html --------------------------------------------------------------------------- ///*/


/* SMOKE_ZONE.html -------------------------------------------------------------------------------------- ///*/

/* FIN -> SMOKE_ZONE.html ------------------------------------------------------------------------------- ///*/



/* STOCK.html -------------------------------------------------------------------------------------- ///*/

/* IMG HERO STOCK */
#myimgHero{
    position: relative;

  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: absolute;
    bottom: 8px;
    left: 16px;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }
/* FIN IMG HERO STOCK */


/*.divNav--tituloStock{

    font-size: xx-large;
    text-decoration:solid ;
    font-family: NickAinley , serif;
    font-family: AvantGarde,serif;
    
}*/




/*FIN->  STOCK.html -------------------------------------------------------------------------------------- ///*/


/* BRANDS.html -------------------------------------------------------------------------------------- ///*/

.div--parrafoBrand{

    padding: 40px;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    color: white;

}

.div__parrafoBrand--tittle{
    align-self: center;
    text-align: center;
    font-size: 60px;
    color: #481D6C;
    font-family: NickAinley , serif;
}
.div__parrafoBrand--tittle span{
    text-decoration: line-through;
}

/*Cards Brands*/

.profile-card-2 {
    max-width: 300px;
    background-color: #FFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-position: center;
    overflow: hidden;
    position: relative;
    margin: 10px ;
    cursor: pointer;
    border-radius: 10px;
}

.profile-card-2 img {
    transition: all linear 0.25s;
}

.profile-card-2 .profile-name {
    position: absolute;
    left: 30px;
    bottom: 70px;
    font-size: 30px;
    color: #FFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #FFF;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-username {
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: #FFF;
    font-size: 13px;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons .fa {
    margin: 5px;
}

.profile-card-2:hover img {
    filter: grayscale(100%);
}

.profile-card-2:hover .profile-name {
    bottom: 80px;
}

.profile-card-2:hover .profile-username {
    bottom: 60px;
}

.profile-card-2:hover .profile-icons {
    right: 40px;
}

/*Fin Cards Brands*/

/*FIN->  BRANDS.html -------------------------------------------------------------------------------------- ///*/

/*404 HTML */



/*FIN 404 HTML */


